<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--包名, 对应接口全限定名-->
<mapper namespace="com.qingaiao1.mapper.HosMapper">
    <!-- List<Hospital> queryHosAndDoc() 分步查询+懒加载  -->
    <select id="queryHosAndDoc" resultMap="baseMap">
        select * from hospital
    </select>
    <resultMap id="baseMap" type="hospital" >
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="doctors" column="id" select="getDoc" fetchType="lazy"/>
    </resultMap>
    <select id="getDoc" resultType="doctor">
        select * from doctor where hid = #{id}
    </select>
    <!--
    &lt;!&ndash;使用collection一对多&ndash;&gt;
    &lt;!&ndash;List<Hospital> queryHosAndDoc()&ndash;&gt;
    <select id="queryHosAndDoc" resultMap="secondMap">
        select d.*,h.name hhname from hospital h left join doctor d on d.hid = h.id
    </select>

    <resultMap id="secondMap" type="hospital">
        <id column="hid" property="id"/>
        <result column="hhname" property="name"/>
        <collection property="doctors" column="hid" ofType="doctor">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="sex" property="sex"/>
            <result column="address" property="address"/>
            <result column="hid" property="hospital.id"/>
            <result column="hhname" property="hospital.name"/>
        </collection>
    </resultMap>-->
</mapper>